#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#cartWidget > span {
  color: orange;
  padding-left: 0.5rem;
}

#containerWidget {
  padding-top: 3rem;
}

.cardTitle {
  font-size: 1rem;
  padding-top: 1rem;
}

.cardPrice {
  color: rgb(251, 8, 0);
  font-weight: 800;
  font-size: 1.5rem;
}

.detailTitle {
  text-align: start;
  font-weight: 600;
  border-bottom: solid 2px #d8d7d7;
}

.itemDetail {
  text-align: start;
  padding: 1rem;
}

.itemPrice {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  border-radius: 25px;
}

.imgDetail {
  max-height: 600px;
}
